# Gradle & Android
*.iml
.gradle/
local.properties
.idea/
.DS_Store
**/build/
build/
captures/
.externalNativeBuild/
.cxx/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
dist/
*.spec

# Windows
Thumbs.db
desktop.ini

# Antigravity & Local Memory Bank
.antigravityrules
antigravity-memory-bank/
memory-bank/
*.png
